<ngx-loading [show]="bannerLoading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
<div class="main-content">
  <div class="container-fluid">

    <div class="card">
      <div class="card-header" data-background-color="red">
        <div class="row">
          <div class="col-md-10 col-sm-10 col-xs-8">
            <h4 class="title">Home Page Banner</h4>
          </div>
        </div>
      </div>
      <div class="card-content">
        <div class="row">
          <div class="" style="margin-top: -10px; padding-left: 14px;">
            <label class="btn btn-warning">
              <input type="file" style="display: none;" onclick="this.value = null" accept="image/*" (change)="uploadFile($event)" /> Upload Banner Picture
            </label>

          </div>
        </div>
        <div class="row">
          <div class="container col-lg-3 col-md-6 col-sm-6 col-xs-6" *ngFor="let image of bannerImagePath">
            <img src="{{ image.url }}" alt="Avatar" class="image" style="width:100%">
            <div class="middle">
              <button id="banner_{{ image.id }}" class="btn btn-danger">Remove</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" data-background-color="red">
        <div class="row">
          <div class="col-md-10 col-sm-10 col-xs-8">
            <h4 class="title">Video Content</h4>
          </div>
          <div class="col-md-2 col-sm-2 col-xs-4">
            <label class="switch">
              <input type="checkbox" [checked]="isVideoEnabled" (click)="homeVideoCheckBox()">
              <span class="slider round"></span>
            </label>
            <div style="padding-left: 7px; margin-top: -12px;">
              <p>{{ toggleStatusText }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-content">
        <div class="form-group form-black label-floating is-empty">
          <label class="control-label">Video Title</label>
          <input type="text" class="form-control">
        </div>
        <div class="form-group form-black label-floating is-empty" style="padding-bottom: 15px;">
          <label class="control-label">Video URL</label>
          <input type="text" class="form-control">
        </div>
        <div id="summernote" class="col-md-12">Hello Summernote</div>
        <button class="btn btn-warning">Save</button>
      </div>
    </div>

  </div>
</div>