<div class="container col-lg-6 text-center" style="padding-top: 10%;">
  <div class="card card-container text-center">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
    <h3>Hart House Login</h3>
    <form class="form-signin" [formGroup]="loginForm">
      <p style="color: #db5959;" *ngIf="errorLoginMsg">Invalid Login</p>
      <input type="email" id="inputEmail" class="form-control" placeholder="Username" required autofocus formControlName="username">
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required formControlName="password">
      <button class="btn btn-lg btn-primary btn-block btn-signin" [disabled]="!loginForm.valid" (click)="onSignIn()" style="cursor: pointer;">Sign in</button>
    </form>
  </div>
  <p class="profile-name-card">Simple Webs Calgary 2017</p>
</div>