<div class="main-content">
  <div class="container-fluid">

    <div class="panel-body table-responsive table-panel">

      <div class="card">
        <div class="card-header" data-background-color="red">
          <div class="row">
            <div class="col-md-10 col-sm-10 col-xs-8">
              <h4 class="title">Gallery Page Photos</h4>
            </div>
          </div>
        </div>


        <div class="card-content">
          <div class="row">
            <div class="" style="margin-top: -10px; padding-left: 14px;">
              <label class="btn btn-warning">
                <input type="file" style="display: none;" onclick="this.value = null" accept="image/*" (change)="uploadFile($event)" /> Upload Gallery Picture
              </label>
              <div *ngIf="!editOrder">
                <button class="btn btn-danger" (click)="editCheckBox()" style="bottom: 0;">Edit</button>
              </div>
              <div *ngIf="editOrder">
                <button class="btn btn-danger" (click)="saveSort()">Save</button>
                <button class="btn btn-danger" (click)="editCheckBox()">Cancel</button>
              </div>
              

            </div>
          </div>
          <div class="row">

            <div class='wrapper'>
              <div class="container card" [dragula]='"bag1"'>
                <div class="container col-lg-3 col-md-6 col-sm-12 col-xs-12 grabbable" *ngFor="let image of imageInfo" style="height:380px; width:350px; overflow: hidden;">
                  <div style="height:320px; width:250px; overflow: hidden;">
                    <div class="image-wrap" style="position: absolute; top: 50%; transform: translateY(-50%);">
                      <img src="{{ image.url }}" alt="Avatar" class="image">
                    </div>
                  </div>
                  <div class="middle">
                    <div id="divCheckbox" style="display: none;">
                      <input class="imageId" id="imageId_{{ image.id }}" value="{{ image.id }}">
                      <input class="imageUrl" value="{{ image.url }}">
                      <input class="imageSort" value="{{ image.sort }}">
                    </div>

                    <div *ngIf="editOrder">
                      <div><input class="form-control" type="number" [(ngModel)]="image.sort" value="{{ image.sort }}" style="bottom: 0;"></div>
                    </div>

                    <div *ngIf="!editOrder">
                      <button class="btn btn-danger" #galleryID id="gallery_{{ image.id }}" class="btn btn-danger" (click)="removeGalleryImage(galleryID)" style="bottom: 0;">Remove</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- THIS IS WHERE THE PICTURE LOOP STARTS -->
            <!-- <div class="container col-lg-3 col-mzd-6 col-sm-12 col-xs-12" *ngFor="let image of imageList"> 
              <img src="{{ image.imageURL }}" alt="Avatar" class="image" style="width:100%">
              <div class="middle">
                <p *ngIf="!editOrder; else saveCancel"></p>
                <ng-template #saveCancel>
                  <input class="form-control" type="number" [(ngModel)]="image.order" value="{{ image.order }}">
                  <button class="btn btn-danger" (click)="editOrderNumber()">Save</button>
                </ng-template>

                <p *ngIf="editOrder; else editInfo"></p>
                <ng-template #editInfo>
                  <button class="btn btn-danger" (click)="editOrderChange()">Edit</button>
                </ng-template>

                <button class="btn btn-danger" #bannerID id="banner_{{ image.order }}" class="btn btn-danger" (click)="removeGalleryImage(bannerID)">Remove</button>

              </div>
            </div> -->


          </div>
        </div>





        <!-- <div style="padding:20px 20px 20px 20px">
          <table id="deliveredTable" class="table table-striped table-bordered table-hover" style="padding:20px 20px 20px 20px">
              <thead>
                  <tr>
                      <th class="col-sm-4 col-md-4 col-lg-4">Image</th>
                      <th class="col-sm-2 col-md-2 col-lg-2">Order</th>
                      <th class="col-sm-6 col-md-6 col-lg-6">Edit</th>
                  </tr>
              </thead>
              <tbody>
                <ngx-loading [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
                  <tr *ngFor="let imageInfo of imageList">
                      <td #orderID><img src="{{ imageInfo.imageURL }}" style="padding:14px 20px 14px 20px"></td>
                      <td style="text-align:center">{{ imageInfo.order }}</td>
                      <td style="text-align:center">

                        <p *ngIf="editOrder!=true; else saveCancel"></p>
                        <ng-template #saveCancel>
                          <input type="number" [(ngModel)]="imageInfo.order" value="{{ imageInfo.order }}">
                          <button mat-raised-button color="warn" (click)="editOrderNumber()" >Save</button>
                        </ng-template>

                        <p *ngIf="editOrder==true; else editInfo"></p>
                        <ng-template #editInfo>
                          <button mat-raised-button color="warn" (click)="editOrderChange()" >Edit</button>
                        </ng-template>
                        
                      <button mat-raised-button color="warn">Delete</button></td>
                  </tr>
              </tbody>
          </table>
        </div> -->
      </div>

    </div>

  </div>
</div>

<script>
$(document).ready(function() {
  
     var imageHeight, wrapperHeight, overlap, container = $('.image-wrap');  
  
     function centerImage() {
         imageHeight = container.find('img').height();
         wrapperHeight = container.height();
         overlap = (wrapperHeight - imageHeight) / 2;
         container.find('img').css('margin-top', overlap);
     }
      
     $(window).on("load resize", centerImage);
      
     var el = document.getElementById('wrapper');
     if (el.addEventListener) {  
         el.addEventListener("webkitTransitionEnd", centerImage, false); // Webkit event
         el.addEventListener("transitionend", centerImage, false); // FF event
         el.addEventListener("oTransitionEnd", centerImage, false); // Opera event
     }
  
});
</script>