<div class="logo text-center" style="padding-left: 10px;">
    <a routerLink="/" class="simple-text">
        Hart House Admin
    </a>
</div>
<div class="sidebar-wrapper">
    <ul class="nav nav-mobile-menu" *ngIf="isMobileMenu()">
        <li>
            <a href="#pablo" class="dropdown-toggle" data-toggle="dropdown">
                <i class="material-icons">power_settings_new</i>
                <p class="hidden-lg hidden-md" (click)="onLogoutClick()">Log Out</p>
            </a>
        </li>
    </ul>

    <div class="nav-container">
        <ul class="nav">
            <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}}">
                <a [routerLink]="[menuItem.path]">
                    <i class="material-icons">{{menuItem.icon}}</i>
                    <p>{{menuItem.title}}</p>
                </a>
            </li>
        </ul>
    </div>
</div>