<ngx-loading [show]="pageLoading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
<div class="main-content">
    <div class="container-fluid">
        <div class="isa_info">
            <i class="fa fa-info-circle"></i>
            Gift Voucher maintenance option has been disabled.
        </div>
        <div class="card card-stats">
            <div class="card-header" data-background-color="orange" routerLink="/content/reservation" style="cursor: pointer;">
                <i class="material-icons">perm_phone_msg</i>
            </div>
            <div class="card-content">
                <p class="category">Pending Reservations</p>
                <h3 class="title">
                    {{ numberOfReservation }}
                    <small>new</small>
                </h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons text-success">done</i>
                    <a routerLink="/content/reservation">Reservation Page</a>
                </div>
            </div>
        </div>
    </div>
</div>