<div class="main-content">
  <div class="container-fluid">
    <div>
      <div class='wrapper'>
        <div class="container card" [dragula]='"bag1"'>
          <div class="card col-lg-4">This is the default use case. You only need to specify the containers you want to use</div>
          <div class="card col-lg-4">More interactive use cases lie ahead</div>
          <div class="card col-lg-4">Make sure to check out the
            <a href='https://github.com/bevacqua/dragula#readme'>documentation on GitHub!</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>